.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    overflow: hidden;

    

    &__inner{
        position: absolute;
        top:0;
        width: 95%;
    }
}
.container{
    display: flex;
    justify-content: center;
    cursor:grab;
    &:active{
        cursor: grabbing;
    }
}

.item{
    margin-top: 0px;
    width: 100% !important;
}

@media (max-width: 660px) {
    .wrapper{
        width: 90vw;
    }
}