.wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10000;
}