@import '../../scss/vars.scss';
.wrapper{
    margin-top: 100px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 500px;
    cursor: grab !important;
    &:active{
        cursor: grabbing !important;
    }
    &__inner{
        display: flex;
        position: absolute;
        top:0;
        left:0;
    //    cursor: none;
    }
}

.item{
    width: 400px;
    height: 500px;
    margin-right: 100px;
}

.frame{
    position: absolute;
    width: 400px;
    border: #fff 4px solid;
    height: 100%;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 10000;
}

.buttons{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 100px;
}

.line{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    height: 3px;
    width: 90%;
    background-color:$secondary-color;

    &__inner{
        position: absolute;
        height: 100%;
        width: 10%;
        background-color: red;
        transition: 0.6s;
    }
}
